.header-container {
  position: relative;
  text-align: center;
}

.content-container {
  position: absolute;
  top: 20%;
  left: 60%;
  z-index: 1; 
  padding: 20px;
  width: 520.04px;
  height: 232.54px;
  
  
}

.head-par {
  text-align: center;
  color:white;
  font-family: Cairo;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.98px;
  text-align: right;
  width: 520.04px;
  height: 164.87px;
  top: 256.52px;
  left: 839.96px;
  gap: 0px;
  opacity: 0px;

}

.head-btn {
  padding: 0px, 47px, 0px, 47px;
  background-color: #8F0101;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 75%;
  width: 147px;
  height: auto;
  gap:10px;
  
}

.head-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  z-index: 0; 
}
